page-home {
    .btn-facebook {
        color: #fff!important;
        background-color: #3B5998!important;
    }
    .btn-google-plus {
        color: #fff!important;
        background-color: #DD4B39!important;
    }
    .btn-youtube {
        color: #fff!important;
        background-color: #FF4B39!important;
    }
    .btn-linkedin {
        color: #fff!important;
        background-color: #007BB6!important;
    }
    .btn-twitter {
        color: #fff!important;
        background-color: #55ACEE!important;
    }
    .btn-mail {
        color: #fff!important;
        background-color: #512DA8!important;
    }

}
